parameters {

    ion-grid {
        height: 100%;
    }

    .home-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .home-container > .row {
        flex: 1;
    }

    .button {
        height: 100%;
    }

}
