drill-rename {
    .button-md {
        color:#B00606;
        background-color: transparent;
        box-shadow:unset;
    } 
    form{
       border-top: 1px solid #dedede;
       border-bottom: 1px solid #dedede;
    }
    ion-icon{
        color:#B00606;
    }
}
