<!--
  Generated template for the StatForm page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="save()">
        Enregistrer
      </button>
    </ion-buttons>
    <ion-title>stat-form</ion-title>
    Session : {{session.localID}}
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--<ion-item>
    <ion-label>Joueur</ion-label>
    <ion-select [(ngModel)]="stat.player" multiple="true">
      <ion-option *ngFor="let player of players">{{player}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Critere</ion-label>
    <ion-select [(ngModel)]="stat.criteria" multiple="false">
       <ion-option *ngFor="let criteria of criterias">{{criteria}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label fixed>Valeur</ion-label>
    <ion-input type="text" value="" [(ngModel)]="stat.value"></ion-input>
  </ion-item>-->

</ion-content>
